{% extends "templates_home/accueil.html" %}

{% block content %}
<div
    class="container-fluid bg-light p-5"
>
    <div class="row">
        <div class="col">
            <h2>A propozzzzzzzzzzz de nous !</h2>
            <p>Bienvenue sur la page "À propos" de notre produit révolutionnaire, Crypt'Us Bee !</p>

            <h3>Notre Solution</h3>
            <p>
                Crypt Us Bee est une solution innovante conçue pour sécuriser vos données tout en simplifiant leur gestion.
                Grâce à une interface intuitive et des fonctionnalités avancées, notre produit répond aux besoins des
                particuliers comme des entreprises. Nous utilisons les dernières technologies de cryptographie pour garantir
                la confidentialité et l'intégrité de vos informations.
            </p>

            <h3>Notre Équipe</h3>
            <p>
                Derrière Crypt Us Bee se trouve une équipe passionnée de développeurs, d'ingénieurs et de spécialistes en
                sécurité informatique. Nous partageons une vision commune : rendre la sécurité numérique accessible à tous.
                Chaque membre de notre équipe apporte son expertise unique pour faire de Crypt Us Bee une solution fiable et
                performante.
            </p>

            <h3>Besoins Techniques</h3>
            <p>
                Pour utiliser Crypt Us Bee, vous aurez besoin d'un serveur (ou microserveur), d'un appareil compatible avec
                les navigateurs modernes avec un port USB, de clés USB [biométriques] et d'une connexion Internet stable.
                Notre solution est optimisée pour fonctionner sur les systèmes d'exploitation les plus courants, y compris
                Windows, macOS et Linux. Nous recommandons également l'utilisation de la dernière version de votre navigateur
                pour une expérience optimale.
            </p>
            
            <h3>Public Cible</h3>
            <p>
                Crypt Us Bee s'adresse aux organisations qui souhaitent protéger leurs données, qu'il s'agisse de particuliers
                soucieux de leur vie privée ou d'entreprises cherchant à sécuriser leurs informations sensibles. Que vous
                soyez un étudiant, un professionnel ou une organisation, Crypt Us Bee est conçu pour répondre à vos besoins.
            </p>

            <h3>Nous Contacter</h3>
            <p>
                Vous avez des questions ou des suggestions ? N'hésitez pas à nous contacter ! Vous pouvez nous joindre par
                email à <a href="mailto:remiv1@gmail.com">remiv1@gmail.com</a> ou via notre formulaire de contact sur le site
                web. Nous sommes toujours ravis de recevoir vos retours et de vous aider.
            </p>

            <h3>Participer au Projet</h3>
            <p>
                Crypt'Us Bee est un projet en constante évolution, et nous accueillons avec enthousiasme les contributions de
                la communauté. Si vous souhaitez participer, que ce soit en tant que développeur, testeur ou simplement en
                partageant vos idées, contactez-nous à <a href="mailto:remiv1@gmail.com">remiv1@gmail.com</a>. Ensemble, nous
                pouvons continuer à améliorer et à faire grandir Crypt'Us Bee.
            </p>

            <p>
                Merci de nous faire confiance et de rejoindre notre communauté grandissante d'utilisateurs satisfaits !
            </p>

        </div>
    </div>
</div>
{% endblock %}